<section>
    <h3>Tokio</h3>
    <p class="textoPrincipal">
        Tokio, la concurrida capital de Japón, mezcla lo tradicional con lo ultramoderno, desde rascacielos con luces de neón hasta templos históricos. El opulento santuario sintoísta del emperador Meiji es famoso por su imponente puerta y el bosque que lo rodea. 
    </p>
    <p class="textoPrincipal">
        El Palacio Imperial se encuentra entre extensos jardines públicos. Los diversos museos de la ciudad ofrecen exhibiciones que abarcan desde arte clásico (en el Museo Nacional de Tokio) hasta un teatro kabuki reconstruido (en el Museo Edo‑Tokyo).
    </p>
    <iframe width="400" height="200" src="https://www.youtube.com/embed/OKAYqzOfLjY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</section>